.header-container {
  width: min(100%, 980px);
  height: 100%;

  padding: 0 1.6rem; // (16px)

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 780px) {
    justify-content: space-evenly;
  }

  @media (max-width: 600px) {
    justify-content: space-between;
  }
}

.marker-wrapper {
  width: 10rem; // (100px)
  height: 3rem;

  cursor: pointer;
}

.toolbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .toolbar-container {
    display: flex;
    justify-content: center;

    .toolbar-item {
      margin-right: 1.4em;

      &.camera {
        display: none;
      }

      a {
        display: block;
        font-size: 0;
        padding: 0;
      }
    }

    @media (max-width: 480px) {
      .toolbar-item {
        display: none;

        &.camera,
        &.direct {
          display: block;
        }
      }
    }
  }
}

.search-wrapper {
  margin-left: 6rem;

  .form-container {
    position: relative;

    input {
      display: block;
      font-size: 1.6rem;

      border-radius: 1.4rem;
      border: 1px solid transparent;
      background-color: var(--color-search-box);
      transition: border 0.4s ease-out;

      width: 30rem;
      height: 3.7rem;

      padding: 0.3rem 3.8rem;

      &::placeholder {
        font-size: 1.5rem;
        font-weight: 400;
      }

      &:focus {
        border-color: var(--color-gray-line);
      }
    }

    // Input image/icon (form relative)
    .absolute-img {
      width: 1.4rem;
      height: 1.4rem;

      position: absolute;
      top: 50%;
      left: 1.5rem;
      transform: translateY(-50%);
    }
  }

  @media (max-width: 780px) {
    display: none;
  }
}
