.header {
  width: 100%;
  height: 5.4rem;

  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;

  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-line);

  display: flex;
  justify-content: center;
  align-items: center;

  .header-content {
    width: min(100%, 980px);
    height: 100%;

    padding: 0 1.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-wrapper {
    width: 10rem; // (100px)
    height: 3rem; // (30px)
    cursor: pointer;

    a {
      display: block;
      width: inherit;
      height: inherit;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .toolbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .toolbar-container {
      display: flex;
      justify-content: center;

      li {
        margin-right: 1.4em;

        &.camera {
          display: none;
        }

        a {
          display: block;
          font-size: 0;
          padding: 0;
        }
      }

      @media (max-width: 480px) {
        li {
          display: none;

          &.camera,
          &.direct {
            display: block;
          }
        }
      }
    }
  }

  .form-wrapper {
    margin-left: 6rem;

    .form-container {
      position: relative;

      input {
        display: block;
        font-size: 1.6rem;

        border-radius: 1.4rem;
        border: 1px solid transparent;
        background-color: var(--color-search-box);
        transition: border 0.4s ease-out;

        width: 30rem;
        height: 3.7rem;

        padding: 0.3rem 3.8rem;

        &::placeholder {
          font-size: 1.5rem;
          font-weight: 400;
        }

        &:focus {
          border-color: var(--color-gray-line);
        }
      }

      // Input image/icon (form relative)
      .absolute-img {
        width: 1.4rem;
        height: 1.4rem;

        position: absolute;
        top: 50%;
        left: 1.5rem;
        transform: translateY(-50%);
      }
    }
  }

  @media (max-width: 780px) {
    .form-wrapper {
      display: none;
    }

    .header-content {
      justify-content: space-evenly;
    }
  }

  @media (max-width: 600px) {
    .header-content {
      justify-content: space-between;
    }
  }
}
