.search-container {
  margin-left: 6rem;

  .form-container {
    position: relative;

    input,
    .search-input {
      display: block;
      font-size: 1.6rem;

      border-radius: 1.4rem;
      border: 1px solid transparent;
      background-color: var(--color-search-box);
      transition: border 0.4s ease-out;

      width: 30rem;
      height: 3.7rem;

      padding: 0.3rem 3.8rem;

      &::placeholder {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }

    // Image/icon (form relative)
    .absolute-img {
      width: 1.4rem;
      height: 1.4rem;

      position: absolute;
      top: 50%;
      left: 1.5rem;
      transform: translateY(-50%);
    }
  }
}

@media (max-width: 800px) {
  .search-container {
    display: none;
    opacity: 0;
  }
}
