@import './header_wrapper';

@import './header_searchbox';
@import './header_toolbar';

.header-content {
  width: min(100%, 980px);
  height: 100%;
  padding: 0 1.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.marker-container {
  width: 10.3rem; // (100px)
  height: 2.9rem;

  cursor: pointer;
}

@media (max-width: 800px) {
  .header-content {
    width: 60rem; // 600px
    padding: 0;
  }
}
