.aside-container {
  width: 32rem;
  margin-top: 4rem;

  position: sticky;
  top: 8rem;
}

.aside-header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .aside-bio {
    display: flex;
    align-items: center;

    & > div:last-child {
      margin-left: 1.5rem;
    }

    p {
      color: var(--color-gray);
    }
  }

  button {
    padding: 0.5rem;

    font-weight: 600;
    color: var(--color-primary);
  }
}

.aside-main {
  width: 100%;
  margin-bottom: 2.2rem;

  .aside-main-header {
    width: 100%;
    margin: 1.6rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      color: var(--color-gray);
    }

    a {
      padding: 0.5rem;

      font-size: 1.3rem;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .aside-suggestions {
    width: 100%;

    display: flex;
    flex-direction: column;

    .aside-suggestion-item {
      width: 100%;
      margin-bottom: 1rem;

      display: flex;
      align-items: center;
      justify-content: space-between;

      &:last-child {
        margin: 0;
      }

      .sugestion-item-profile {
        flex: 1;
        display: flex;
        justify-content: left;
        align-items: center;

        .sugestion-avatar {
          margin-right: 1.2rem;
        }

        .suggestion-bio {
          width: 18rem;

          p {
            width: 100%;
            font-size: 1.2rem;
            color: var(--color-gray);

            line-height: 1.5;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          a {
            font-size: 1.3rem;
            font-weight: 600;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      button {
        padding: 0.5rem;

        background: transparent;

        color: var(--color-primary);
        font-size: 1.3rem;
        font-weight: 500;
      }
    }
  }
}

.aside-footer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .footer-hyperlinks {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; // flex-start: (default)

    li {
      a {
        padding: 0.4rem;

        color: var(--color-gray);
        font-size: 1.2rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  small {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--color-gray);

    margin-top: 2rem;
    padding: 0.4rem;

    span {
      color: inherit;
    }
  }
}

@media (max-width: 980px) {
  .aside-container {
    display: none;
    opacity: 0;

    width: 0;
    height: 0;
  }
}
